/*生活研究所*/
.life_all {
    height: 170px;
    background-color: #ffffff;
    margin-top: 10px;
    position: relative;
    top: 835px;
}
.life_title{
    display: inline-block;
    width: 225px;
    height: 25px;
    text-decoration: none;
    color: transparent;//字体变为透明
}
.life_title>img{
    display: inline-block;
    width: 95px;
    height: 25px;
    position: absolute;
    top:20px;
    left: 20px;
}
.life_title>span{
    font-size: 12px;
    color: #999999;
    position: absolute;
    top:25px;
    left: 120px;
}
.life_UL{
    height: 100px;
    width: 1190px;
    position: absolute;
    top: 45px;
    left:15px;
}
.life_ul>li:hover .life_li_left{
    border-color: #ff5400;
}
.life_ul>li:hover .life_li_right_a{
    color: #ff5400;
}
.life_li{
    list-style: none;
    display: inline-block;
    float: left;
    position: relative;
    top: 20px;
    margin-right: 5px;
}
.life_li>a{
    text-decoration: none;
    display: inline-block;
    width: 191px;
    height: 90px;
}
.life_li_left{
    width: 83px;
    height: 83px;
    border: 1px solid #3dd8b2;
    border-radius: 100px;
}
.life_li_left_none{
    width: 83px;
    height: 83px;
    background-color: rgba(255, 255, 254, 0.23);
    border-radius: 100px;
    position: relative;
    z-index: 1;
    display: none;
}
.life_ul>li:hover .life_li_left_none{
    display: block;
}
.life_li_left>img{
    width: 57px;
    height: 57px;
    position: absolute;
    top: 14px;
    left: 14px;
}
.life_li_right{
    position: absolute;
    top: 10px;
    left: 100px;
}
.life_li_right_a{
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}
.life_li_right_p{
    font-size: 15px;
    line-height: 25px;
    color: #999999;
}
.life_li_right>span{
    color: #13d0a1;
    font-size: 15px;
    font-weight: bold;
}
.life_li_right_val{
    display: inline-block;
    font-size: 10px;
    color: #999999;
}
/*有好货*/
.goods{
   /* width: 1190px;*/
    height: 660px;
    margin-top: 10px;
    position: relative;
    top: 835px;
}
.goods_left{
    width: 590px;
    height: 660px;
    position: relative;
    background-color: #ffffff;
}
.goods_left_title{
    width: 240px;
    height: 30px;
    position: absolute;
    top:20px;
    left: 20px;
    text-decoration: none;
}
.goods_left_title>img{
    width: 80px;
    height: 26px;
}
.goods_er{
    width: 18px;
    height: 18px;
    background: url("../image/goods-er.png") 0 0 no-repeat;
    position: absolute;
    top: 5px;
    left: 85px;
}
.goods_er_meum{
    width: 90px;
    height: 100px;
    position: relative;
    top: 25px;
    left: -18px;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    display: none;
}
.goods_er_meum>img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 15px;
}
.goods_er_meum>span{
    color: rgba(51, 51, 51, 0.64);
    font-size: 13px;
    position: absolute;
    top: 75px;
    left: 10px;
}
.goods_left_title:hover .goods_er_meum{
    display: block;
}
.goods_left_title>span{
    color: rgba(51, 51, 51, 0.64);
    font-size: 13px;
    position: absolute;
    top: 5px;
    left: 110px;
}
.goods_left_title_a{
    text-decoration: none;
    color: rgba(51, 51, 51, 0.64);
    font-size: 13px;
    position: absolute;
    top: 27px;
    right: 20px;
}
.goods_left_m{
    width: 550px;
    height: 270px;
    position: absolute;
    top: 65px;
    left: 20px;
}
.goods_left_m>ul{
    width: 556px;
    height: 300px;
}
.goods_left_m>ul>li{
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 2px;
}
.goods_left_m>ul>li>a{
    text-decoration: none;
}
.goods_left_div{
    margin-left: 3px;
}
.goods_left_tou{
    width: 180px;
    height: 180px;
    position: relative;
    background: #333333;
    overflow: hidden;
}
.goods_left_cover{
    width: 180px;
    height: 180px;
    background-color: rgba(174, 136, 182, 0.19);
    /*display: none;*/
    position: relative;
    z-index: 1;
}
.goods_left_m>ul>li:hover .goods_left_cover{
    background-color: rgba(180, 180, 180, 0.30);
}
.goods_left_img{
    /*width: 180px;
    height: 180px;*/
    max-width: 100%;
    position: absolute;
    top: 0;
}
.goods_left_p{
    font-size: 16px;
    color: #3c3c3c;
    margin-top: 5px;
}
.goods_left_m>ul>li:hover .goods_left_p{
    color: #ff5300;
}
.goods_left_p1{
    font-size: 15px;
    color: #999999;
    margin-top: 10px;
}
.goods_left_p2{
    font-size: 15px;
    color: #35b1ff;
    margin-top: 13px;
}
.goods_right{
    width: 590px;
    height: 660px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
}
.goods_right_p{
    width: 180px;
    height: 43px;
    font-size: 15px;
    overflow: hidden;
    color: #999999;
    margin-top: 10px;
}
.goods_left_m>ul>li:hover .goods_right_p{
    color: #ff5300;
}
.goods_right_p2 {
    text-decoration: none;
    font-size: 12px;
    color: #999999;
    position: relative;
    top: 10px;
    left: 5px;
}
.goods_right_p2>span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    position: relative;
    top: 5px;
}
.goods_right_p2>span>img{
    width: 20px;
    height: 20px;
}
/*淘抢购*/
.tao{
    height: 265px;
    background-color: #fff;
    position: relative;
    top: 835px;
    margin-top: 10px;
}
.tao_title{
    width: 220px;
    height: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.tao_title>a{
    text-decoration: none;
    display: inline-block;
    width: 80px;
    height: 25px;
    float: left;
}
.tao_title>a>img{
    width: 80px;
    height: 25px;
}
.tao_title_time{
    display: inline-block;
    float: left;
    margin-left: 12px;
    margin-top: 5px;
    font-size: 13px;
    color: #ff5000;
}
.tao_title_time1{
    font-size: 13px;
    color: #999999;
}
.tao_title_time2{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffe4dc;
    font-size: 13px;
    font-weight: 700;
    color: #ff5000;
}
.tao_title_jiaobiao{
    width: 85px;
    font-size: 13px;
    color: #b5b5b5;
    position: absolute;
    top: 5px;
    left: 1070px;
}
.tao_m{
    width: 1150px;
    height: 185px;
    position: relative;
    top: 70px;
    left: 20px;
}
.tao_m>ul>li{
    list-style: none;
}
.tao_m_left{
    position: absolute;
    top: 0;
    left: 0;
}
.tao_m_li_cover{
    width: 180px;
    height: 180px;
    background-color: rgba(174, 136, 182, 0.19);
    position: relative;
    z-index: 2;
}
.tao_m_left:hover .tao_m_li_cover{
    background-color: rgba(180, 180, 180, 0.30);
}
.tao_m_li_img{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
}
.tao_m_right{
    width: 180px;
    height: 180px;
    position: absolute;
    left: 180px;
}
.tao_m_right>h4{
    font-size: 16px;
    font-weight: 400;
    width: 180px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
    color: #333333;
}
.tao_m>ul>li:hover .tao_m_right>h3{
    color: #fe3338;
}
.tao_m_right_red{
    font-size: 13px;
    color: #999999;
    position: absolute;
    top: 80px;
    left: 15px;
}
.tao_m_right_tiao{
    width: 158px;
    height: 3px;
    border-radius: 40px;
    border: 1px solid #ffe4dc;
    background-color: #ffe4dc;
    position: absolute;
    top: 100px;
    left: 15px;
}
.pr1{
    width: 8px;
    height: 3px;
    border-radius: 40px;
    background-color: #fe3338;
    border: 1px solid #fe3338;
}
.pr2{
    width: 28px;
    height: 3px;
    border-radius: 40px;
    background-color: #fe3338;
    border: 1px solid #fe3338;
}
.pr3{
    width: 48px;
    height: 3px;
    border-radius: 40px;
    background-color: #fe3338;
    border: 1px solid #fe3338;
}
.tao_m_right_pr{
    width: 180px;
    position: relative;
    top: 55px;
    left: 15px;
    font-size: 13px;
    color: #fe3338;
    font-weight: 500;
}
.tao_m_right_pr2{
    position: absolute;
    right: 16px;
}
.tao_m_right_price{
    position: relative;
    top: 75px;
    left: 15px;
}
.tao_m_right_price1{
    color: #ff5000;
    font-size: 13px;
    font-weight: 700;
}
.tao_m_right_price2{
    color: #ff5000;
    font-size: 18px;
    font-weight: 700;
}
.tao_m_right_price3{
    font-size: 13px;
    color: #999999;
    text-decoration: line-through; /*划掉文字*/
    margin-left: 5px;
}
.tao_m_li2{
    position: absolute;
    left: 390px;
}
.tao_m_li3{
    position: absolute;
    left: 785px;
}
/*大眼袋*/
.eye{
    height: 70px;
    width: 1190px;
    position: relative;
    top: 835px;
    margin-top: 10px;
}
